.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 50%;
  filter: brightness(0) invert(0.9);
}

@media screen and (min-width: 700px) {
  .logo {
    width: 33.33%;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    width: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 20%;
  }
}

:global(html[data-theme="light"]) .logo {
  filter: brightness(0) opacity(0.6);
}
