.compare-features {
  display: flex;
  flex-direction: column;
}

.compare-title {
  font-size: var(--font-size-big-3);
  font-weight: var(--ifm-font-weight-bold);
  margin-bottom: 4.5rem;
}

.card__list {
  --ifm-list-margin: 0;
  --ifm-list-left-padding: 0;
  text-align: left;
  margin-top: 3.1rem;
  margin-bottom: 3.1rem;
}

.card__item {
  font-size: var(--font-size-large);
}

.card__button {
  margin-top: auto;
}

.header-image {
  height: auto;
}

.calendly-inline-widget-wrapper {
  height: 49.3rem;
}

@media screen and (max-width: 1074px) {
  .calendly-inline-widget-wrapper {
    height: 75.3rem;
  }
}

.subscribe {
  padding-top: 2rem;
  width: 100%;
  align-self: center;
}

.subtitle {
  align-self: center;
}

@media screen and (min-width: 600px) {
  .subscribe,
  .subtitle {
    max-width: 80%;
  }
}

@media screen and (min-width: 800px) {
  .subscribe,
  .subtitle {
    max-width: 60%;
  }
}
