.integrations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  .integrations {
    flex-wrap: nowrap;
  }
}

.integration {
  display: flex;
  width: 80px;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-normal);
  color: var(--theme-text-color);
}

.logo {
  width: auto;
  height: 50px;
}

:global(html[data-theme="light"]) .logo {
  filter: invert(0.5);
}
