.section {
  height: 56px;
}

.logos {
  display: flex;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(0) invert(0.4);
  transform: scale(0.7);
}

.logoDark {
  filter: brightness(0) invert(0.9);
}

@media screen and (min-width: 800px) {
  .logo {
    transform: scale(1);
    margin: 0 2rem;
  }
}
