.overlay {
  background: rgba(25, 26, 33, 0.7);
  position: fixed;
  inset: 0;
  z-index: var(--z-index-dialog);
}

.position {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: var(--z-index-dialog);
}

.content {
  overflow: auto;
  transform: translate(-50%, -50%);
  background: var(--theme-card-bg-color);
  border-radius: var(--ifm-global-border-radius);
  box-shadow: 0 7px 30px -10px #191a21;
  width: 90vw;
  max-width: 50rem;
  max-height: 85vh;
  padding: 2rem;
}

:global(html[data-theme="light"]) .content {
  background: #fff;
}

.content:focus {
  outline: none;
}

.heading {
  font-size: var(--font-size-big-3);
  text-align: center;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
  background-position: center 3px;
  border: none;
  cursor: pointer;
  background-image: url("/img/pages/cloud/close.svg?inline");
  background-color: transparent;
}

@media screen and (min-width: 600px) {
  .content {
    padding: 4rem;
  }
}